@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
body{
    margin:0;
    font-family: 'Times New Roman', Times, serif;
    background-image: url(./img/alex-shutin-kKvQJ6rK6S4-unsplash.jpg);
    background-position: center left;
    background-size: 180%;
    background-repeat: no-repeat;
    animation: moveIt 20s linear infinite;
}
.image_background{
    height: auto;
    width: auto;
    background-position: center center;
}
/* header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 70px 0px 70px 0px;
    background: radial-gradient(circle, lightblue 40%, transparent 40%);
    font-family: Dancing script;
    font-size: small;
} */
header{
    display: flex;
    justify-content: center;
    font-family: "Dancing Script";
}
.circle{
    flex-direction: column;
    display: flex;
    justify-content: center;
    background-color: lightblue;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    align-items: center;
}
svg{
    width:100%;
    height: 40%;
}
.circle h2{
    font-size: 14pt;
    text-align: center;
}
.header-flowers{
    height: 50px;
}
.flowers{
    margin:0px;
    padding: 0;
    width: 50%; 
    max-width: 500px;
    transform: rotate(170deg);
    position: relative;
    top: -70px;
}
.flowers img{
    width: 150%;
}
.flowers-downright{
    margin:0px;
    width: 50%; 
    max-width: 500px;
    position: relative;
    bottom:-100px;
    right: -260px;
    position: absolute;
    top:320px;
    right: 0px;
    transform: rotate(-15deg);
}
.flowers-downright img{
    width: 150%;
}
article{
    text-align: center;
    margin-top: 20px;
    font-size: 17px;
    font-family: "pacifico";
}
p{
    text-align: center;
}
nav{
    padding: 10px;
    text-align: center;
    margin: 20px 0px 60px 0px;
}
nav ul{
    margin: 10px;
    padding: 15px;
}
.dropdown {
    position: relative;
  }
  span{
    background-color: midnightblue;
    color: white;
    padding: 20px 50px;
    border-radius: 7px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    top: 50%;
    transform: translate(80%, 7%);
    background-color: lightblue;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 7px;
    padding: 12px 16px;
    overflow:auto;
    z-index: 1;
  }
  .dropdown-content li{
    margin-bottom: 10px;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
nav h3{
    font-size: 17px;
    text-align: center;
}
nav li{
    list-style-type: none;
    padding: 8px 20px 5px 20px;
    border-radius: 10px 0px 10px 0px;
    background-color: midnightblue;
    background: linear-gradient(to right, teal 50%, midnightblue 50%);
    background-size: 200%;
    background-position: right bottom;
}
nav li:hover{
    background-color: teal;
    transition: 0.5s ease-in-out;
    background-position: left bottom;
}
nav a{
    color:aliceblue;
    text-decoration: none;
    transition: 0.5s;
}
nav a:hover{
    color:lightgoldenrodyellow;
}

footer{
    background-color: lightblue;
    padding: 10px;
    text-align: center;
}
footer p{
    font-family: "Times New Roman";
    padding: 10px;
    word-spacing: 0px;
}
#terms{
    padding-top: 25px;
    border-bottom: 3px double white;
}
.icons svg{
    width: 100%;
    color:goldenrod;
}
.icons{
     display: flex;
     justify-content: space-between;
     margin: auto;
     align-items: center;
     width: 10%;
     padding: 2px;
}
/* .svg a{
    color:goldenrod;
} */
/* .row.g-0.bg-light.position-relative{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
} */
@media (min-width:600px){
    .circle{
        width:400px;
        height: 400px;
    }
    .flowers-downright{
        top: 600px;
    }
    .flowers{
        top:-110px;
    }
    .dropdown-content{
        display: none;
        position: absolute;
        top: 50%;
        transform: translate(260%, 5%);
    }
    body{
        background-size: 100%;
        width:auto;
        height: auto;
    }
    footer{
        margin-top: 12%;
    }
}
@media (min-width:1000px) {
    .dropdown-content{
        display: none;
        position: absolute;
        top: 50%;
        transform: translate(480%, 5%);
    }
}
@keyframes moveIt {
    from {background-position: bottom left;}
    to {background-position: top right;}
  }