body{
  background-color: blanchedalmond;
  font-family: TimesNewRoman;
}
main{
  margin: 100px;
  border:2px solid green;
  padding: 25px;
}
header{
  background-color: darkcyan;
  color: blanchedalmond;
  padding:20px;
  text-align: center;
  border-bottom: 2px solid black;
}
nav {
  border-bottom: 1.5px solid darkcyan;
}
nav ul{
  display:flex;
  padding-left:0px;
}
nav li{
  list-style-type: none;
  padding: 0px 40px;
}
nav a {
  color: chocolate;
}
nav a:hover{
  color: black;
  text-decoration-style: wavy;
  font-style: italic;
}
section{
  padding:20px;
}
.card {
  margin: 20px 0px;
  border: 2px dashed darkcyan;
  padding:20px;
}
