
header{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.part1{
    padding: 5px;
}
.part2{
    padding: 6px;
}
nav a{
    text-decoration: overline;
    color:black;
}
li{
    list-style-type: none;
}
nav{
    padding-bottom: 15px;
}
nav ul{
    display: flex;
    justify-content: space-between;
    padding-left: 2px;
}
.row{
    column-count: 3;
    flex:1;
}

.img1 {
    width:8%;
}
#img1{
    width: 105%;
}
#img2{
    width: 105%;
}
#img3{
    width: 105%;
}
.col{
    text-align: center;
}
.text{
    margin-top: 50px;
    border: 3px solid black;
    border-radius: 5px;
    padding: 0px 20px;
}
footer{
    display: flex;
}
.sword{
    padding-left: 30%;
    display: flex;
    justify-content: center;
    flex:2;
}
.sword img{
    width: 40%;
}
.newspaper{
    flex: 1;
    display: flex;
    background: orangered;
    margin-top: 10px;
    border-radius: 10px;
    height: 55px;
    text-align: center;
    justify-content: center;
}
.newspaper:hover{
    color: white;
    transition-duration: 1s;
}
.maincontent{
    background-image: url("./assets/dragondoor.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-color:gray;

}