body{
    margin:0pc;
}
header{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: orange;
    border-radius: 5px;
}
.part1{
    padding: 5px;
}
.part2{
    padding: 6px;
}
nav a{
    text-decoration: overline;
    color:black;
}
li{
    list-style-type: none;
}
nav{
    background-image: url("./grrm/images/sky.jpg");
    padding: 15px;
    background-size: contain;  
}
nav ul{
    display: flex;
    justify-content: space-between;
    padding-left: 2px;
}

.row{
    column-count: 3;
    flex:1;
    border-bottom:2px solid white;
    overflow: hidden;
}

.img1 {
    width:8%;
}
#img1{
    width: 105%;
    border-bottom:2px solid lightgoldenrodyellow;
}
#img2{
    width: 105%;
    border-bottom:2px solid lightgoldenrodyellow;
}
#img3{
    width: 105%;
    border-bottom:2px solid lightgoldenrodyellow;
}
.col{
    text-align: center;
}
.row1{
    margin-top: 50px;
    border: 3px solid lightgoldenrodyellow;
    border-radius: 5px;
    padding: 0px 20px;
}
footer{
    background: rgba(0,0,0,0.97);
    padding: 15px;
    color:aliceblue;
    text-align: center;
}
.button{
    display: flex;
    background: orange;
    margin: auto;
    margin-top: 90px;
    border-radius: 10px;
    height: 55px;
    width:80%;
    text-align: center;
    justify-content: center;
}
.maininformation{
    background-image: url("./assets/dragondoor.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-color:rgba(0,0,0,0.97);
    color:aliceblue;
}
{box-sizing: border-box}
.mySlides1, .mySlides2 {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}
.row1 h3{
    color:lightgoldenrodyellow;
}
.row1 h4{
    color: lightgoldenrodyellow;
}
.button h4{
    color:black;
}
.row1 button:hover{
    color: white;
    transition-duration: 1s;
}
.component-wrapper{
    display: flex;
}
.row1{
    width:60%;
}
.row2{
    width:20%;
    margin-top: 50px;
    padding: 0px 0px 5px 0px;
}
img{
    width: 163%;
    height:150px;
    border: 2px solid lightgoldenrodyellow;
}
