@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Mali&family=Oleo+Script+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
body{
    margin:0px;
}
header{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: orange;
    border-radius: 5px;
    font-family: Aboreto;
}
.part1{
    padding: 5px;
}
.part2{
    padding: 6px;
}
nav a{
    text-decoration: overline;
    color:black;
}
nav a:hover{
  color:orange;
  transition: 0.5s;
}
li{
    list-style-type: none;
}
nav{
    padding: 15px;
}
nav ul{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.row{
    column-count: 3;
    flex:1;
    border-bottom:2px solid white;
    overflow: hidden;
}
.component-wrapper{
  max-width: 1000px;
  margin:auto;
}

.img1 {
    width:8%;
}
#img1{
    width: 105%;
    border-bottom:2px solid lightgoldenrodyellow;
}
#img2{
    width: 105%;
    border-bottom:2px solid lightgoldenrodyellow;
}
#img3{
    width: 105%;
    border-bottom:2px solid lightgoldenrodyellow;
}
.col{
    text-align: center;
}
.row1{
    margin-top: 50px;
    border: 3px solid lightgoldenrodyellow;
    border-radius: 5px;
    padding: 0px 20px;
}
footer{
    background: rgba(0,0,0,0.97);
    padding: 15px;
    color:aliceblue;
    text-align: center;
}
.copyright{
    border-bottom: 2px solid lightgoldenrodyellow;
}
.button{
    display: flex;
    background: orange;
    margin: auto;
    margin-top: 85px;
    border-radius: 10px;
    height: 55px;
    width:80%;
    text-align: center;
    justify-content: center;
}
.maininformation{
    background-image: url("./assets/dragondoor.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-color:rgba(0,0,0,0.97);
    color:aliceblue;
    font-family: Libre Baskerville;
}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  padding:10px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 1px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
.row1 h3{
    color:lightgoldenrodyellow;
}
.row1 h4{
    color: lightgoldenrodyellow;
}
.button h4{
    color:black;
}
.button h4:hover{
    color: white;
    transition-duration: 1s;
    transition-delay: 0.5s;
}
.component-wrapper{
    display: flex;
    justify-content: space-between;
}
.row1{
    width:60%;
}
.row2 {
    width:35%;
    margin-top: 70px;
    padding: 0px 0px 5px 0px;
}
.row2 img{
    width: 150%;
    height:150px;
    border: 2px solid lightgoldenrodyellow;
}

.icon-bar {
  display: flex;
  justify-content: center;
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: black;
  font-size: 20px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #000;
  color: lightgoldenrodyellow;
}

.facebook {
  background: lightgoldenrodyellow;
  color: black;
}

.twitter {
  background: lightgoldenrodyellow;
  color: black;
}

.google {
  background: lightgoldenrodyellow;
  color: black;
}

.linkedin {
  background: lightgoldenrodyellow;
  color: black;
}

.youtube {
  background: lightgoldenrodyellow;
  color: black;
}
