@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body{
    margin:0;
    font-family: "Montserrat";
}
/*HEADER CSS*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px;
    background: linear-gradient(45deg, #e1a177 55%,transparent 55%);
    background-size: 66% 75%;
}
.header_right img{
    width: 80%;
}
.header_left{                                                                                                                                                                                                                                                                                                                 
    font-family: "lobster";
    color: white;;
}
/*DIV BODY MAIN PAGE*/
#main_page{
    box-sizing: border-box;
    width:90%;
    border:5px solid #e1a177;
    border-radius: 7px;
    margin:5% auto;
}
/*NAV*/
.navbar{
    padding:20px;
    padding-top:20px;
    padding-bottom:20px;
    border-top: 3px solid #e1a177;
    border-bottom: 3px solid #e1a177;
}
nav ul{
    display: flex;
    margin:0;
    padding-left:0;
    justify-content: space-between;
}
nav li{
    list-style-type: none;
}
nav a{
    text-decoration: none;
    color:#e1a177;
}
.about_button_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
}
footer{
    display: flex;
    padding:50px;

}
.footer-left img{
    width:100%;
}
.footer-left{
    flex:2;
    padding-left:10px;
}
.center{
    flex:1;
    background-color: #e1a177;
    padding: 20px 20px 30px 20px;
    color:white;
    text-align: center;
}
.footer-right{
    flex:1;
    background-color: #e1a177;
    padding: 20px 20px 30px 20px;
    color:white;
    text-align: center;
}

/* JS DEMO1 */
.about_text{
    display:none;
}

.reveal{
    display: block;
}
#date_element{
    text-align: center;
}
.time-wrapper{
    background-color: #e1a177;
    height:300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:white;
    background-image: url(./Assets_/elaine-casap-qgHGDbbSNm8-unsplash.jpg);
    background-position: center center;
    background-size: cover;
}
.time-wrapper h4{
    font-size:32pt;
    text-shadow: 2px 3px 0px black;
    font-family: lobster;
}
.center a{
    color:white;
    list-style-type: none;
}
.footer-right a{
    color:white;
    list-style-type: none;
}