@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mali&family=Oleo+Script+Swash+Caps&display=swap'); 
header{
background-color: pink;
padding:30px;
font-family: "Mali", "comic sans", Cursive;
border-bottom:3px solid white;
}
main{
  background-color: midnightblue;
  padding: 5%;
}
table{
  font-family: "Mali", cursive;
  margin: auto;
  border-collapse: collapse;
  border: 5px solid pink;
}
body{
  margin:0;
  background-color: lightblue;

}
td{
  padding: 5px 10px;
  font-size: 14pt;
  border-bottom: 2px solid pink;
  border-right: 2px solid pink;
}
th{
  padding: 5px 10px;
  background-color: #D3EEEE;
  font-size: 14pt;
  color: maroon;
}
tr{
  background: aliceblue;
}
tr:hover{
   background: pink;
   color: blue;
}
nav a{
  font-family: "Cormorant Garamond";
  color: black;
  text-decoration: overline;
  padding: 30px;
}
nav li{
  list-style-type: none;
  margin-right: 20px;
  padding-bottom: 20px;
  padding-top: 15px;
}
nav a:hover{
  color: goldenrod;
}
h1{
  color: midnightblue;
  font-style: italic;
  font-family: "oleo script swash Caps";
}
header{
  background: radial-gradient(pink, lightblue);
  padding: 20px;
  background-position: left top;
  background-size: 200% 200%;
  display: flex;
  justify-content: space-between;
}
.logo{
  width: 120px;
}
nav ul{
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: auto;
}
footer{
  color: midnightblue;
  display: flex;
  justify-content: center;
}
footer ion-icon{
  width: 50px;
  height: 50px;
  padding: 50px;
}
#insta:hover{
  color: purple;
}
#fb:hover{
  color:gold;
}
#gith:hover{
  color: cyan;
}
.empty{
  width:120px;
}